@import "vars";

*{
  box-sizing:border-box;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.btn-light{
  background:none;
  border-color: $secondaryColor;
  color:$secondaryColor;
  transition: all $transitionTime ease;
  &:hover{
    background:$secondaryColor;
    border-color: $secondaryColor;
    color:$bodyColor;
  }
}

.header{
  color:$textColor;
  font-size:$headerFontSize;
  font-weight:600;
}

.subheader{
  font-weight:600;
  font-size:$stdFontSize;
  letter-spacing:2px;
  color: $textAccentColor;
}

.wrapper {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  user-select: none;
  .sidebar-wrapper{
    position:absolute;
    left:0;
    height:100%;
    width: $navWidth;
    background: $menuColor;
    .sidebar-nav{
      &__item{

      }
    }
    .sidebar-social{
      &__item{

      }
    }
  }

  .content-wrapper{
    position:absolute;
    left:$navWidth;
    right:0;
    height:100%;
    background: $bodyColor;
    color: $textColor;
    .row{
      .col{
        &-left{
          position:absolute;
          left: 5%;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 600px;
          h1{
            margin:$stdMargin;
            .logo{
              display:inline-block;
              width:48px;
              height:46.7px;
              transform:translate($stdMargin/4, .8px);
              background: url("../resources/images/logo/initial.png") center center no-repeat;
              background-size:cover;
            }
          }
          h2{
            margin:$stdMargin;
          }
          button{
            margin:$stdMargin;
          }
        }
        &-right{
          position:fixed;
          height:100%;
          width:575px;
          right:10%;
        }
        &-logo{
          animation: float 30s ease-in-out infinite;
          background: url("../resources/images/logo/3dLogo.png") center center no-repeat;
          background-size:100%;
        }
      }
    }
  }
}
@keyframes float {
  0% {
    transform: translate(0px, -5px);
  }
  30% {
    transform: translate(-20px, 10px)skewY(-1deg);
  }
  70% {
    transform: translate(20px, -10px) skewY(1deg);
  }
  100% {
    transform: translate(0px, -5px);
  }
}

@media(min-width:768px) {
}