@import "vars";

*{
  box-sizing:border-box;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $bodyColor;
  height:100%;
  width:100%;
}

body {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.btn{
  text-transform:uppercase;
  letter-spacing:4px;
  font-weight:600;
  font-size:$stdFontSize;
}

.btn-light{
  background:none;
  border-color: $secondaryColor;
  color:$secondaryColor;
  transition: all $transitionTime ease;
  &:hover{
    background:$secondaryColor;
    border-color: $secondaryColor;
    color:$bodyColor;
  }
}

.header{
  color:$textColor;
  font-size:$headerFontSize;
  font-weight:600;
  &-color{
    color:$secondaryColor;

  }
}

.subheader{
  font-weight:600;
  font-size:$stdFontSize;
  letter-spacing:2px;
  color: $textAccentColor;
}

.text{
  font-size:$stdFontSize;
  line-height:20px;

  letter-spacing:.7px;
}

.col{
  padding-left:$stdMargin;
  padding-right: $stdMargin;
  padding-top: $stdMargin;
  padding-bottom: $stdMargin;

}

.wrapper {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background: $bodyColor;
  user-select: none;
  .sidebar-wrapper{
    position:absolute;
    left:0;
    height:100%;
    width: $navWidth;
    display:flex;
    z-index:$zIndex-n;
    flex-flow:column nowrap;
    background: $navColor;
    justify-content:flex-end;
    .sidebar-logo{
      position:relative;
      display:inline-block;
      width:100%;
      background: black;
      padding: $stdMargin 0;
      img{
        height:auto;
        width:45%;
        margin:auto;
        display:block;
        margin-top: $stdMargin /2;
      }
      span{
        display:block;
        color:$textColor;
        width:100%;
        text-align:center;
        font-weight:bold;
        margin: ($stdMargin / 2) 0;
        letter-spacing:2px;
        font-size: $stdFontSize;
      }
    }
    .sidebar-nav{
      display:flex;
      align-items:center;
      justify-content:center;
      flex:1;
      &__list{
        width:100%;
        margin-top:65px;
        position:relative;

        z-index:500;
      }
      &__cover{
        position:absolute;

        z-index:100;
        top:0;
        bottom:0;
        width:100%;
      }
      &__item{
        position:relative;
        height:55px;
        width:100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity:.5;
        cursor:pointer;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        transition: opacity $transitionTime ease;
        img{
          height:40%;
          width:auto;
          margin:auto;
          transition: opacity $transitionTime cubic-bezier(.74,.56,.46,.81);
        }
        span{

          display:flex;
          align-items:center;
          justify-content:center;
          font-size:10px;
          text-transform:uppercase;
          color: $secondaryColor;
          font-weight:600;
          height:100%;
          width:100%;
          letter-spacing:1.5px;
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          opacity:0;
          transition: opacity $transitionTime cubic-bezier(.74,.56,.46,.81);
        }
        /*
        &[data-nav="HOME"]{
          background: url("../src/images/icons/house.svg") center center no-repeat;
          background-size:$navIconSize;
        }
        &[data-nav="ABOUT"]{
          background: url("../src/images/icons/avatar.svg") center center no-repeat;
          background-size:$navIconSize;
        }
        &[data-nav="SKILLS"]{
          background: url("../src/images/icons/electron.svg") center center no-repeat;
          background-size:$navIconSize;
        }
        &[data-nav="WORK"]{
          background: url("../src/images/icons/portfolio.svg") center center no-repeat;
          background-size:$navIconSize;
        }
        &[data-nav="CONTACT"]{
          background: url("../src/images/icons/chat-balloon.svg") center center no-repeat;
          background-size:$navIconSize;
        }
        */

        &.active{
          filter:grayscale(0);
          opacity:1;
        }
        &:hover{
          filter: grayscale(0);
          opacity:1;
          span{
            opacity:1;
          }
          img.hover{
            opacity:0;
          }
        }
      }
      &__label{
        display:flex;
        align-items:center;
        justify-content:center;
        font-size:10px;
        text-transform:uppercase;
        color: $secondaryColor;
        font-weight:600;
        height:55px;
        width:100%;
        letter-spacing:1.5px;
        opacity:0;
        z-index:100;
      }
    }
    .sidebar-social{
      color: white;
      height:96px;
      margin-bottom: $stdMargin * 2;
      display:flex;
      flex-flow:column nowrap;
    }
    .sidebar-burger-menu{
      display:none;
    }
  }

  .content-wrapper{

    position:relative;
    width:calc(100% - 60px);
    margin-left:60px;
    height:100%;
    background: $bodyColor;
    color: $textColor;
    opacity:1;
    transition: all 400ms ease;
    a{
      cursor:pointer;
      color: $secondaryColor;
      text-decoration:underline;
    }
    &:not(.active){
      opacity:0;
    }
    .row{
      overflow: hidden;
      .col{
        &-content{
          width: 40%;
          max-width:100%;
          z-index:$zIndex-2;
          position:absolute;
          left:5%;
          top:50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          &#hiimrio{
            h1{
              margin:$stdMargin 0;
              .logo{
                display:inline-block;
                width:48px;
                height:46.7px;
                transform:translate($stdMargin/4, .8px);
                background: url("../src/images/logo/initial.png") center center no-repeat;
                background-size:cover;
              }
            }
            h2{
              margin:$stdMargin 0;
            }
            button{
              margin:$stdMargin 0;
            }
          }
          &#aboutme, &#skillsexperience{
            #timeline{
              display: inline;
              height: auto;
              width: 100%;
            }
            h1{
              margin: $stdMargin 0;
              margin-bottom: $stdMargin * 4;
            }
            p{
              margin: $stdMargin 0;

            }
          }
        }
        &-media{
          &#ajaxsass{
            position:absolute;
            right:0;
            width:90%;
            height:100vh;
            display:flex;
            align-items:center;
            justify-content:flex-end;
          }
          &#initial{
            display:none;
            position:fixed;
            height:100%;
            width:675px;
            right:5%;
            z-index:$zIndex-1;
            background: url("../src/images/logo/3dLogo.png") center center no-repeat;
            background-size:100%;
          }
          &#websoar{
            display:none;
            height:100%;
            position:fixed;
            width:675px;
            right:5%;
            opacity:.9;
            animation: float 30s ease-in-out infinite;
            animation-delay: 500ms;
            background-size:contain;
            transform: translate(0, 0)skewY(-4deg);
            background: url("../src/images/logo/websoar.png") center center no-repeat;
          }
        }
        &-contact{
          flex:1;
          display:flex;
          align-items:center;
          justify-content:center;
          height:100vh;
          &#contactme{
            flex:.8;
            form{
              margin:$stdMargin $stdMargin*4;
              h1{
                margin: $stdMargin 0;
                margin-bottom:$stdMargin * 4;
              }

              .row{
                margin-left:0;
                margin-right:0;
                flex-wrap:nowrap;
                .form-group{
                  width:50%;
                  &:first-child{
                    margin-right:$stdMargin;
                  }
                }
              }
              .form-group{
                border:none;
                position:relative;
                background:#37393b;
                color: #9c9c9c;
                margin-bottom:0;
                padding:0 0;
                margin-top:$stdMargin;
                .form__input, textarea{
                  border:none;
                  background:#37393b;
                  padding:$stdMargin *1.5;
                  height:100%;
                  color: $textColor;
                  width:100%;
                  &:focus{
                    color: $textColor;
                    outline-width: 0;
                    ~.input__label--highlight{
                      width:100%;
                    }
                  }
                  &:valid{
                    ~.input__label--highlight{
                      background-color:limegreen;
                      width:100%;
                    }
                  }
                }
                .input__label--highlight{
                  position:absolute;
                  left:0;
                  bottom:0;
                  width:0;
                  height:2px;
                  background-color:$secondaryColor;
                  transition:all $transitionTime ease;
                }
              }

              .btn{
                margin-top:$stdMargin;
                float:right;
              }
            }
          }
          &#googlemaps{
          }
        }
      }
    }
  }
}


.loader-container{
  position:fixed;
  top:0;
  left:$navWidth;
  right:0;
  bottom:0;
  background-color:$bodyColor;
  z-index:$zIndex-6;
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(.active){
    background-color:transparent;
    .cssload-thecube{
      opacity:0;
    }
  }

}
.cssload-thecube {
  width: 58px;
  height: 58px;
  margin: 0 auto;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);

  transition: all 200ms ease-in-out;
  opacity:1;
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43,160,199);
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
}

.menu{
  height: 100%;
  width: 75px;
  position: relative;
  margin:auto;
  transition: all 180ms ease-in-out;
  cursor: pointer;
  padding: $stdMargin/4 0;
  transform:scale(.7);
}
.bar{
  height: 5px;
  width: 55px;
  display: block;
  margin: 10px auto;
  position: relative;
  background-color: #fff;
  border-radius:10px;
  transition: all 200ms ease-in-out;
}
.model-6{
  .menu{
    overflow: hidden;
    &:after{
      content: '';
      width: 90%;
      height: 90%;
      left:0;
      top:0;
      position: absolute;
      border:5px solid transparent;
    }
    &.active{
      .bar{

        background-color: $secondaryColor;
      }
      &:after{animation:circle-creation 1s forwards;}
      .bar{
        &:nth-of-type(1){transform: translateY(15px) rotate(45deg);}
        &:nth-of-type(2){transform:translateX(100px); transition: all .6s; }
        &:nth-of-type(3){transform:translateY(-15px) rotate(-45deg);}
      }
    }

  }

}
