$stdMargin: 12px;

$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-n: 900;

$navWidth: 60px;

$primaryColor: #038EC9;
$secondaryColor: #3FC4E4;
$bodyColor: #252627;
$textColor: #ffffff;
$textAccentColor: #7a7a7a;
$navColor: #181818;

$stdFontSize: 12px;
$headerFontSize: 56px;
$transitionTime: 300ms;
$navIconSize: 40%;

$prim : #0089B6;
$scnd: #00B69A;