<div class="container-fluid">
    <div class="row">
        <div id="aboutme" class="col col-content">
            <h1 aria-label="About me" class="header header-color">About me</h1>
            <p aria-label="" class="text">In 2016 I went to <a href="http://www.cs.cf.ac.uk/" target="_blank">Cardiff University</a> to study postgraduate Computer Science, where I worked on a variety of sandbox projects in Java, Assembly, Python and JavaScript</p>
            <p aria-label="" class="text">Having graduated from class of 2016, I have since freelanced as a developer consultant, having worked with several clients.</p>
            <p aria-label="" class="text">From February to October 2018 I worked in a 3 person team building <a
                    href="https://datalyse.io/en/" target="_blank">Datalyse</a>, a budget friendly WebApp CRM, for startups and mid-scale call centers.</p>
            <p aria-label="" class="text">I continue to work on personal projects, where I am experimenting in the form of building a front-end JavaScript library -
                <a href="https://github.com/rio-karim/InjectJS" target="_blank">InjectJS</a></p>

            <img id="timeline" src="/src/images/timeline.png" alt="Timeline">
        </div>



        <div id="websoar" class="col col-media col-logo">

        </div>
    </div>

</div>