<div class="container-fluid">
    <div class="row">
        <div id="hiimrio" class="col col-content">
            <h1 aria-label="Hi, I'm Rio, web developer." class="header">Hi,<br> I'm <span aria-hidden="true" class="logo"></span>io,<br> web developer.</h1>
            <h2 aria-label="Front End Developer, Node, React JS" class="subheader">Front End Developer / Node / React JS</h2>
            <button class="btn btn-light">Contact Me</button>
        </div>
        <div id="initial" class="col col-media col-logo">

        </div>
    </div>

</div>