<div class="container-fluid">
    <div class="row">
        <div id="skillsexperience" class="col col-content">
            <h1 aria-label="About me" class="header header-color">About me</h1>
            <p aria-label="" class="text">In 2016 I went to <a href="http://www.cs.cf.ac.uk/" target="_blank">Cardiff University</a> to study postgraduate Computer Science, where I worked on a variety of sandbox projects in Java, Assembly, Python and JavaScript</p>
            <p aria-label="" class="text">Having graduated from class of 2016, I have since freelanced as a developer consultant, having worked with several clients.</p>
            <p aria-label="" class="text">From February to October 2018 I worked in a 3 person team building <a
                    href="https://datalyse.io/en/" target="_blank">Datalyse</a>, a budget friendly WebApp CRM, for startups and mid-scale call centers.</p>
            <p aria-label="" class="text">I continue to work on personal projects, where I am experimenting in the form of building a front-end JavaScript library -
                <a href="https://github.com/rio-karim/InjectJS" target="_blank">InjectJS</a></p>

        </div>
        <div id="ajaxsass" class="col col-media col-logo">
            <canvas width="700" height="700" id="tagcanvas">
                <p>Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
            <div id="tags">
                <ul>
                    <li><a href="">AJAX</a></li>
                    <li><a href="">SASS</a></li>
                    <li><a href="">JSON</a></li>
                    <li><a href="">REST</a></li>
                    <li><a href="">Node JS</a></li>
                    <li><a href="">jQuery</a></li>
                    <li><a href="">Gulp</a></li>
                    <li><a href="">JavaScript</a></li>
                    <li><a href="">Git</a></li>
                    <li><a href="">ES6</a></li>
                    <li><a href="">MongoDB</a></li>
                    <li><a href="">BEM</a></li>
                    <li><a href="">Agile</a></li>
                    <li><a href="">Bootstrap</a></li>
                    <li><a href="">AWS</a></li>
                    <li><a href="">Socket.io</a></li>
                    <li><a href="">Express</a></li>
                    <li><a href="">_underscore</a></li>
                    <li><a href="">npm</a></li>
                    <li><a href="">HTML 5</a></li>
                    <li><a href="">PHP</a></li>
                    <li><a href="">CSS 3</a></li>
                    <li><a href="">HandlebarsJS</a></li>
                </ul>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function()
        {
          $('#tagcanvas').tagcanvas({
            textColour: '#3FC4E4',
            outlineColour: '#3FC4E4',
            reverse: true,
            depth: 0.8,
            maxSpeed: 0.05
          },'tags')
        })
    </script>

</div>