<div class="container-fluid">
    <div class="row">
        <div id="skillsexperience" class="col col-content">
            <h1 aria-label="About me" class="header header-color">Skills & <br>
            Experience</h1>
            <p aria-label="My primary area of expertise is in Front-end Development. Having successfully worked with both websites and large scale web applications in Javascript(ES6) and Node - implementing plugins, features, interfaces and animation experiences whilst also having server experience with Express, MongoDB, and setting up AWS web-hosting." class="text">My primary area of expertise is in Front-end Development. Building both websites and large scale web applications, implementing designs, features, interfaces and animation.</p>
            <p aria-label="Industrially the language I work with is Javascript, whilst usually working Front-end, I also work as a full-stack developer - using MongoDB, SSH deployment and a Node JS backend. Sometimes I have used the the LAMP stack for Apache servers that can be cheaper for clients." class="text">I am also capable as a full-stack developer - using MongoDB and Node JS backend with SSH deployment onto AWS (EC2 / Route53). For customer websites I use the LAMP stack, as Apache hosting can be cheaper for clients.</p>
            <p aria-label="Finally, I have learnt small-scale Python and Java in university, also having familiarity with using build tools for iOS and Android." class="text">
                I am currently implementing React JS into my JavaScript portfolio, for native languages I have a knowledge of small-scale Java using TCP/UCP, also having familiarity with building for iOS and Android.
            </p>
            <p aria-label="Would you like to know more? Looking to hire? Contact me." class="text">
                Would you like to know more? Looking to hire? <br>Contact me.
            </p>
        </div>
        <div id="ajaxsass" class="col col-media col-logo">
            <canvas width="700" height="700" id="tagcanvas">
                <p>Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
            <div id="tags">
                <ul>
                    <li><a href="">AJAX</a></li>
                    <li><a href="">SASS</a></li>
                    <li><a href="">JSON</a></li>
                    <li><a href="">REST</a></li>
                    <li><a href="">Node JS</a></li>
                    <li><a href="">jQuery</a></li>
                    <li><a href="">Gulp</a></li>
                    <li><a href="">JavaScript</a></li>
                    <li><a href="">Git</a></li>
                    <li><a href="">ES6</a></li>
                    <li><a href="">MongoDB</a></li>
                    <li><a href="">BEM</a></li>
                    <li><a href="">Agile</a></li>
                    <li><a href="">Bootstrap</a></li>
                    <li><a href="">AWS</a></li>
                    <li><a href="">Socket.io</a></li>
                    <li><a href="">Express</a></li>
                    <li><a href="">_underscore</a></li>
                    <li><a href="">npm</a></li>
                    <li><a href="">HTML 5</a></li>
                    <li><a href="">PHP</a></li>
                    <li><a href="">CSS 3</a></li>
                    <li><a href="">HandlebarsJS</a></li>
                </ul>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function()
        {
          $('#tagcanvas').tagcanvas({
            textColour: '#3FC4E4',
            outlineColour: '#3FC4E4',
            reverse: true,
            depth: 0.8,
            maxSpeed: 0.05
          },'tags')
        })
    </script>

</div>